.productSlider {
  padding-bottom: 50px !important;
}

.productSlider :global(.swiper-pagination) {
  bottom: 0 !important;
}

.productSlider :global(.swiper-pagination-bullet) {
  width: 10px;
  height: 10px;
  background-color: #e2e8f0;
  opacity: 1;
  transition: all 0.3s ease;
}

.productSlider :global(.swiper-pagination-bullet-active) {
  background-color: #D0252C;
  width: 25px;
  border-radius: 5px;
}

.titleClamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.descriptionClamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
